*{
	margin: 0%;
	padding: 0%;
  font-family: Arial, sans-serif;
}

body {
  background: #080808;
  color: #fff;
}

.dt-container {
  padding: 10px;
}

/* Day + date */
#d-container {
  font-size: 32px;
  letter-spacing: 0.5px;
  opacity: 0.9;
  margin-bottom: 10px;
}

/* Time */
#t-container {
  font-size: 64px;
  font-weight: 500;
  display: flex;
  align-items: baseline;
  gap: 6px;
}

#ampm {
  font-size: 18px;
  margin-left: 6px;
  opacity: 0.9;
}

#top-layer{
  display: flex;
  margin-bottom: 2%;
}

.w-container {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0px;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.w-item {
  flex: 0 0 25%;
  opacity: 0.8;
  font: 26px Arial, sans-serif;
}

#w-icon{
  position: absolute;
  top: 2%; left: 50%;
  transform: translate(-50%, 0%);
}

#text-l{
  margin: 4% 0 0 2%;
  padding-left: 1%;
  font-size: 24px;
  width: 188px; height: 40px;
  border: 4px black solid;
}
#butn-l{
  margin-left: 2%;
  font-size: 16px;
  text-align: left;
  padding-left: 2%;
  width: 196px; height: 26px;
  border: 4px black solid;
}

.icon-row td img{
  width: 64px;
}

.location-data {
  position: absolute;
  top: 10px;
  right: 10px;

  text-align: right;
  font-size: 32px;
  color: #fff;
  opacity: 0.9;
}

table{
  margin: 0%;
  padding: 0%;
  width: 100%;
  border-spacing: 12px ;
  
}
td, th{
  width: 200px;
  padding: 2%;
  font-size: 26px;
  text-align: center;
  border-width: 4px;
  border-style: solid;
  border-color: #000;
  
}
.up-arrow {
  color: #EF4444;
}
.down-arrow {
  color: #3B82F6;
}
.humid-drop{
  color: aquamarine;
}
.dew-point{
  color: hotpink;
}


.fore-weather-div{
  justify-items: center;
}